# Ambientes virtuais
sd/

# Cache do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de log
*.log

# Arquivos de configuração do VSCode
.vscode/

# Arquivos de testes e cobertura
htmlcov/
.tox/
.nox/
.coverage
.cache
.pytest_cache/
coverage.xml
nosetests.xml
test-output/

# Arquivos de build
build/
dist/
*.egg-info/
.eggs/

# Docker
*.pid
*.sock

# Jupyter Notebooks checkpoints
.ipynb_checkpoints/

# Dados temporários
*.sqlite3
*.db
*.csv
*.tsv
*.gz
*.zip

# Arquivos pessoais
.DS_Store
*.swp
*.swo